* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Mulish;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #121214;
}

body::-webkit-scrollbar-thumb {
  background-color: #02799d;
  border-radius: 20px;
  border: 3px solid #02799d;
}

::-moz-selection {
  background-color: #02799d;
  color: #000;
}

::selection {
  background-color: #02799d;
  color: #000;
}

header h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 72px;
  color: #02799d;
}

header p {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #e1e1e6;
}

main {
  display: grid;
  margin-top: 62px;
  grid-template-columns: repeat(3, 370px);
  place-content: center;
  gap: 48px 60px;
}

body {
  background: #121214;
  display: grid;
  justify-content: center;
  padding: 72px 104px;
}

.card {
  border: 2px solid #323238;
  background: #202024;
  border-radius: 8px;
}

.card h2 {
  font-size: 36px;
  font-weight: 900;
  color: #e1e1e6;
  padding: 24px 32px 0;
}

.card p {
  padding: 24px 32px 32px;
  font-size: 18px;
  color: #c4c4cc;
  font-weight: 600;
}

footer {
  color: #ffff;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -2rem;
}

footer a {
  color: #02799d;
  text-decoration: none;
  font-weight: bold;
}
